.portfolioWrapper {
  > div {
    display: flex;
    flex-wrap: wrap;

    .head {
      margin-top: 40px;
      @media #{$x-sm} {
        margin-top: 26px;
      }
    }

    > .items {
      position: relative;
      z-index: 2;
      width: 100%;
      background: rgba(1, 18, 33, 0.8);
      border: 1px solid $blueGrey;
      border-radius: 15px;
      margin-top: 15px;
      box-sizing: border-box;
      overflow: hidden;

      &.visible {
        z-index: 5;
      }

      > img {
        position: absolute;
        right: 60px;
        top: 15px;
        @media #{$md} {
          right: 20px;
        }
        @media #{$sm} {
          right: 12px;
        }
        @media #{$x-sm} {
          top: 10px;
        }
      }

      > .portfolioBlock {
        display: flex;
        padding: 60px 20px 30px;
        overflow: scroll;
        box-sizing: content-box;
        @media #{$x-sm} {
          padding-left: 0;
          padding-right: 0;
          padding-top: 40px;
        }

        > .item {
          min-width: 350px;
          max-width: 350px;
          height: auto;
          margin-left: 35px;
          margin-right: 35px;
          transition: all .3s ease-in-out;
          @media #{$md} {
            margin-left: 20px;
            margin-right: 20px;
          }
          @media #{$sm} {
            min-width: 300px;
            max-width: 300px;
          }
          @media #{$x-sm} {
            min-width: calc(100% - 24px);
            max-width: calc(100% - 24px);
            margin-left: 12px;
            margin-right: 12px;
          }

          > .header {
            margin-bottom: 25px;
            @media #{$md} {
              margin-bottom: 20px;
            }
            @media #{$sm} {
              margin-bottom: 15px;
            }

            > span {
              &:first-child {
                color: $purpleV;
                font-size: 14px;
              }

              &:last-child {
                color: $grey;
                font-size: 12px;
              }
            }
          }

          > .body {
            position: relative;
            border: 1px solid $blueGrey;
            background: $blueVsBackground;
            border-radius: 15px;
            overflow: hidden;
            color: $grey;
            box-shadow: 0 4px 20px rgba(255, 255, 255, .15);
            transition: all .3s ease-in-out;

            &:hover {
              cursor: pointer;
              box-shadow: 0 2px 4px rgba(255, 255, 255, .25);

              > .img {
                img {
                  scale: 1.1;
                }
              }

              > .description {
                box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
              }
            }

            .tag {
              position: absolute;
              right: 20px;
              top: 20px;
              z-index: 2;
            }

            > .img {
              position: relative;

              > img {
                transition: all .3s ease-in-out;
                object-fit: cover;
                object-position: top;
                width: 100%;
              }
            }

            > .description {
              padding: 20px;

              > span.button {
                display: flex;
                border: none;
                color: white;
                border-radius: 10px;
                background: #1C2B3A;
                padding: 10px 15px;
                margin-top: 20px;
                box-shadow: 0 4px 20px rgba(0, 0, 0, .15);
                transition: all .3s ease-in-out;
                width: max-content;
                font-size: 14px;

                &:hover {
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }

  .modalWrapper {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(1, 18, 33, 0.8);
    top: 0;
    left: 0;
    -webkit-animation: SHOW-BOX 0.3s ease;
    -moz-animation: SHOW-BOX 0.3s ease;
    -o-animation: SHOW-BOX 0.3s ease;
    animation: SHOW-BOX 0.3s ease;

    > div {
      position: relative;
      width: 100%;
      height: 100%;

      > .modalBody {
        z-index: 2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        border: 1px solid $blueGrey;
        background: $blueVsBackground;
        border-radius: 15px;
        overflow: hidden;
        color: $grey;
        padding: 20px 30px 40px;
        max-height: 90%;
        max-width: 90%;
        width: 80%;

        @media #{$md} {
          padding-left: 20px;
          padding-right: 20px;
        }

        @media #{$sm} {
          width: 90%;
        }

        > .topContent {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 24px;

          > ul {
            display: flex;
            align-items: center;
            > li {
              &:not(:last-child) {
                margin-right: 8px;
              }
              > img {
                display: block;
                @media #{$x-sm} {
                  width: 25px;
                  height: 25px;
                }
              }
            }
          }
        }

        > .scroll {
          margin-left: auto;
          display: block;
          margin-bottom: 10px;
        }

        > ul.images {
          display: flex;
          overflow: scroll;

          > li {
            &:not(:last-child) {
              margin-right: 20px;
            }

            > span {
              font-size: 12px;
              margin-bottom: 12px;
              display: block;
            }

            > img {
              object-fit: cover;
              object-position: top;
              width: auto;
              height: 500px;
              display: block;
              @media #{$md} {
                height: 400px;
              }
              @media #{$sm} {
                height: 300px;
              }
            }
          }
        }
      }

      > .background {
        z-index: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      > .close {
        z-index: 1;
        transition: all 0.3s linear;
        fill: $grey;
        width: 35px;
        height: 35px;
        position: absolute;
        right: 40px;
        top: 40px;

        &:hover {
          cursor: pointer;
          fill: white;
        }
      }
    }
  }

  .tubo {
    position: absolute;
    left: -40px;
    bottom: -60px;

    > div {
      position: relative;

      > img {
        &:first-child {
          position: relative;
          z-index: 1;
        }

        &:last-child {
          position: absolute;
          top: 20px;
          left: 40px;
          z-index: 0;
        }
      }
    }

    @media #{$x-sm} {
      bottom: -100px;
    }
  }

  .land {
    position: absolute;
    left: 40%;
    bottom: 60px;
  }


  .code1 {
    right: 600px;
    bottom: 50px;

    img {
      width: 280px;
      height: auto;
    }
  }

  .code2 {
    bottom: 140px;
    right: 28px;

    img {
      height: auto;
      width: 330px;
    }
  }

  .code3 {
    bottom: 65px;
    right: 390px;

    img {
      height: auto;
      width: 200px;
    }
  }
}

// css here
@-webkit-keyframes SHOW-BOX {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes SHOW-BOX {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes SHOW-BOX {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes SHOW-BOX {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}